@import './base/variables'
@import './base/reset'
@import './base/mixins'
@import './base/utilities'
@import './base/typography'
@import './base/grid'

// sticky footer stuff i think
body > div, body > div > div
  height: 100%

body 
  background-color: $color-background

img 
  max-width: 100%