@import '../styles/base/variables'

// .hero
//   min-height: calc(100vh - 40px)
//   width: calc(100% - 40px)
//   margin: $gtr

//   background-image: url('../images/main.jpg')
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;

//   display flex
//   justify-content: center
//   align-items: center

// .bookNow
//   display block
//   text-decoration: none

.copy
  height: 100%
  display flex
  justify-content: center
  flex-direction: column