@import '../../styles/base/variables'

.container
  background-color: $color-white
  padding-top: 2 * $gtr
  padding-bottom: 4 * $gtr
  color: $color-black

  ul
    li
      &:not(:last-of-type)
        margin-bottom: .25 * $gtr