@import '../../../styles/base/variables'
@import '../../../styles/base/mixins'

.wrapper
  margin-bottom: $gtr

.textarea
  width: 100%
  background-color: #fffbf4
  padding: .75 * $gtr
  outline: 0
  color: $color-black
  font-size: $font-size-5
  height: 100px
  resize: none

  &:focus
    border: $input-border-dark

  +below($sml)
    padding: .75 * $gtr

.error
  border: 1px solid $color-secondary

.label
  font-size: $font-size-5
  font-weight: $font-weight-medium
  margin-bottom: .5 * $gtr
  font-style: italic

.errorMessage
  font-size: 12px
  color: $color-secondary
  margin-top: .25 * $gtr