@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC:700');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:600');

body, input, textarea
  font-family: $font-family-body
  font-weight: $font-weight-regular
  font-size: $font-size-6
  line-height: 1.4
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-text-size-adjust: 100%
  color: $color-grey-dark

p
  line-height: 1.5
  font-size: $font-size-6
  margin-bottom: 0.5*$gtr

[class*="heading"]
  font-family: $font-family-headings
  text-transform: lowercase
  letter-spacing: 2px

.heading-large
  font-size: $font-size-3

.heading-medium
  font-size: $font-size-4

.heading-small
  font-size: $font-size-5

.text-large
  font-size: $font-size-3

.text-medium
  font-size: $font-size-4

.text-small
  font-size: $font-size-5

.o-capitalised
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase
  letter-spacing: 4px

.o-text-regular
  font-weight: $font-weight-regular

.o-text-bold
  font-weight: $font-weight-bold

a
  color: inherit