// Monochromatic colours
$color-white = rgb(255, 255, 255)
$color-black = rgb(0, 0, 0)
$color-background = #ffead9
$color-background-light = #fffbf4
$color-primary = #2a7881
$color-secondary = #ff7200

// Font
$font-family-body = 'Libre Baskerville', serif;
$font-family-headings = 'Vollkorn SC', serif;

// Font weights
$font-weight-regular = 400
$font-weight-medium = 500
$font-weight-semibold = 600
$font-weight-bold = 700

// Font sizes
$font-size-0 = 60px
$font-size-1 = 40px
$font-size-2 = 32px
$font-size-3 = 24px
$font-size-4 = 18px
$font-size-5 = 16px
$font-size-6 = 14px

// Gutters
$gtr = 20px

// Site height/widths
$xlrg = 1006px
$lrg  = 962px
$med  = 768px
$sml  = 540px
$xsml = 300px

$width-site-max = $xlrg
